{% extends "base.html" %}
{% block content %}
<style>
  .ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #b1b1b1;
  overflow: hidden;
}

.full-stars{
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
}

.empty-stars:before,
.full-stars:before {
  content: "\2605\2605\2605\2605\2605";
  font-size: 14pt;
}

.empty-stars:before {
  -webkit-text-stroke: 1px #848484;
}

.full-stars:before {
  -webkit-text-stroke: 1px orange;
}
</style>

{% if general %}
  <div>
  	{% for i in range(name|length) %}
  		<hr>
  		<p>{{ i+1 }}. </p>
  		<a href="{{url_for('restaurants.restaurants_route', name=name[i]) }}"> {{name[i]}} </a> <br>
      <div class="ratings">
        <div class="empty-stars"></div>
        <div class="full-stars" style="width:calc(({{rating[i]}}|int())/5*100%)"></div>
      </div>
  		<p> &nbsp {{reviewcount[i]}} reviews </p><br>
      {% if address[i] %}
        <p> {{address[i]}} </p><br>
      {% endif %}
      <p> {{city[i]}} {{state[i]}}, {{zipcode[i]}} </p><br>
  	{% endfor %}
  </div>

  <div class="pagination">
    <a href="restaurants">&laquo;</a>
    <a href="restaurants" class="active">1</a>
    <a href="restaurants">2</a>
    <a href="restaurants">3</a>
    <a href="restaurants">4</a>
    <a href="restaurants">5</a>
    <a href="restaurants">6</a>
    <a href="restaurants">7</a>
    <a href="restaurants">8</a>
    <a href="restaurants">9</a>
    <a href="restaurants">10</a>
    <a href="restaurants">11</a>
    <a href="restaurants">12</a>
    <a href="restaurants">13</a>
    <a href="restaurants">14</a>
    <a href="restaurants">15</a>
    <a href="restaurants">16</a>
    <a href="restaurants">17</a>
    <a href="restaurants">18</a>
    <a href="restaurants">19</a>
    <a href="restaurants">20</a>
    <a href="restaurants">&raquo;</a>
  </div>
{% else %}
  <p><font size="5" face="verdana"> {{name}} </p><br>

  <div class="ratings">
    <div class="empty-stars"></div>
    <div class="full-stars" style="width:calc(({{rating}}|int())/5*100%)"></div>
  </div>
  <p><font size="3" face="verdana"> {{rating}} &nbsp {{reviewcount}} reviews </p><br>

  {% if isopen %}
    <p><font size="2" face="verdana" color="green"> OPEN NOW </font></p><br>
  {% else %}
    <p><font size="2" face="verdana" color="red"> CLOSED </font></p><br>
  {% endif %}
  <br>

  {% for category in categories if category != "Restaurants" %}
    <p><font size="3" face="verdana"> {{category}} </font></p>
    {% if not loop.last %} 
      <p><font size="3" face="verdana"> , </font></p>
    {% endif %}
  {% endfor %}
  <br><br>

  {% if neighborhood %}
    <p><font size="3" face="verdana"> neighborhood: {{neighborhood}} </font></p><br>
  {% endif %}

  {% if address %}
    <p><font size="3" face="verdana"> {{address}} </font></p><br>
  {% endif %}

  {% if city %}
    <p><font size="3" face="verdana"> {{city}}, </font></p>
  {% endif %}
  {% if state %}
    <p><font size="3" face="verdana"> {{state}} </font></p>
  {% endif %}
  {% if zipcode %}
    <p><font size="3" face="verdana"> {{zipcode}} </font></p><br><br>
  {% endif %}
  
  {% if hours %}
    <p><font size="4" face="verdana" color="red"> Hours </font></p><br>
    {% for day in hours %}
      {% set list = day.split() %}
         {{list[0]}}, {{list[1]}} <br>
    {% endfor %}
  {% endif %}
  <br>

  <form method="post">
    <button type="submit">Favourite</button>
  </form>

  {% if favourite %}
    <p><font size="2" face="verdana"> save! </font></p><br><br>
  {% endif %}
{% endif %}
{% endblock %}