{% extends "base.html" %}
{% block content %}

<style>
	label {
		position:relative;
		left: 220px;
	    font-family: Georgia, "Times New Roman", Times, serif;
	    font-size: 18px;
	    color: #333;
	    height: 20px;
	    width: 200px;
	    margin-top: 10px;
	    margin-left: 10px;
	    text-align: right;
	    clear: both;
	    float:left;
	    margin-right:15px;
	    top: 150px
	}

	input[type=text], input[type=password] {
		position:relative;
	    width: 50%;
	    padding: 12px 20px;
	    margin: 0 auto;
	    border: 1px solid #ccc;
	    box-sizing: border-box;
	    background-color: #3CBC8D;
	    display: block;
	    float: left;
	    left: 280px;
	    top: 150px;
	}

	button.editinfo {
		position:relative;
	    background-color: #4CAF50;
	    color: white;
	    padding: 14px 20px;
	    margin: 8px 0;
	    border: none;
	    cursor: pointer;
	    width: 60%;
	    left: 340px;
	    top: 200px;
	}

	button.gotoedit {
		position:absolute;
	    background-color: #4CAF50;
	    color: white;
	    padding: 14px 20px;
	    margin: 8px 0;
	    border: none;
	    cursor: pointer;
	    width: 8%;
	    right: 3%;
	    top: 80px;
	}

	button:hover {
    	opacity: 0.8;
	}

	.edit {
		color: #FFC433;
		position:relative;
		left: 350px;
	}

	.error {
		color: orange;
		top: 300px;
	}

	.ratings {
	    position: relative;
	    vertical-align: middle;
	    display: inline-block;
	    color: #b1b1b1;
	    overflow: hidden;
	  }

	  .full-stars{
	    position: absolute;
	    left: 0;
	    top: 0;
	    white-space: nowrap;
	    overflow: hidden;
	    color: #fde16d;
	  }

	  .empty-stars:before,
	  .full-stars:before {
	    content: "\2605\2605\2605\2605\2605";
	    font-size: 14pt;
	  }

	  .empty-stars:before {
	    -webkit-text-stroke: 1px #848484;
	  }

	  .full-stars:before {
	    -webkit-text-stroke: 1px orange;
	  }
</style>

{% if edit %}
<h1 class="edit"> Edit Info </h1>
    {% for name in Name %}
		<form method="post">
			<label><b>firstname:{{name['firstname']}}</b></label>
		    <input  id="update_firstname_input" type="text" name="firstname"><br><br>

			<label><b>lastname:{{name['lastname']}}</b></label>
	        <input  id="update_lastname_input" type="text" name="lastname"><br><br>
		
			<label><b>email:{{name['email']}}</b></label>
		    <input  id="update_email_input" type="text" name="email"><br><br>
		
	        <label><b>password1:</b></label>
		    <input  id="update_password1_input" type="password" name="password1"><br><br>

		    <label><b>password2:</b></label>
		    <input  id="update_password2_input" type="password" name="password2"><br><br>
		    
		    <button class="editinfo" type="submit">Edit Info</button>
	    </form>
    {% endfor %}

    {% if isUsernameRepeated %}
		<p class="error"> The username has been used </p>
	{% endif %}

	{% if isPassword1TooShort %}
		<p class="error"> The password is too short </p>
	{% endif %}

	{% if isPassword12Mismatch %}
		<p class="error"> The password1 does not match the password2 </p> 
	{% endif %}

{% else %}
	<p><font size="4" face="verdana" color="red"> My Favorate Restaurants </font></p><br>

	{% for i in range(name|length) %}
	  	<hr>
	  	<p>{{ i+1 }}. </p>
	  	<a href="{{url_for('restaurants.restaurants_route', name=name[i]) }}"> {{name[i]}} </a> <br>
		<div class="ratings">
		    <div class="empty-stars"></div>
		    <div class="full-stars" style="width:calc(({{rating[i]}}|int())/5*100%)"></div>
		</div>
		<p> &nbsp {{reviewcount[i]}} reviews </p><br>
		{% if address[i] %}
		    <p> {{address[i]}} </p><br>
		{% endif %}
		<p> {{city[i]}} {{state[i]}}, {{zipcode[i]}} </p><br>
	 {% endfor %}

	 <p><font size="4" face="verdana" color="red"> Restaurants You May Like </font></p><br>

	{% for i in range(name_rec|length) %}
	  	<hr>
	  	<p>{{ i+1 }}. </p>
	  	<a href="{{url_for('restaurants.restaurants_route', name=name[i]) }}"> {{name_rec[i]}} </a> <br>
		<div class="ratings">
		    <div class="empty-stars"></div>
		    <div class="full-stars" style="width:calc(({{rating_rec[i]}}|int())/5*100%)"></div>
		</div>
		<p> &nbsp {{reviewcount_rec[i]}} reviews </p><br>
		{% if address_rec[i] %}
		    <p> {{address_rec[i]}} </p><br>
		{% endif %}
		<p> {{city_rec[i]}} {{state_rec[i]}}, {{zipcode_rec[i]}} </p><br>
	 {% endfor %}

	
	<form action="{{url_for('user.user_edit_route')}}">
	    <button class="gotoedit" type="submit">Edit Info</button>
	</form>

{% endif %}

{% endblock %}